{% extends 'patient/patientbase.html' %}
{% block content %}
<head>
  
    <style>
            .xyz{     
        color: blue; 
        font-size: 3ex;   
    }
    </style>
     <link href="/static/css/main.css" rel="stylesheet" >
     <script src="/static/java/main.js"></script>

</head>
<br><br>
<div class="container">

 
    <div class="row">
      <div class="col-sm-3">
        <div class="card bg-light">
          <div class="card-body">
              <div class="blood">
                <i class="fas fa-sync-alt xyz"></i>
              </div><br>
              <div>
                Request Made <br>
                  {{requestmade}}
              </div>                            
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card bg-light">
            <div class="card-body">
                <div class="blood">
                  <i class="fas fa-sync xyz"></i>
                </div><br>
                <div>
                    Pending Request <br>
                    {{requestpending}}
                </div>                            
            </div>
          </div>
      </div>

      <div class="col-sm-3">
          <div class="card bg-light">
              <div class="card-body">
                  <div class="blood">
                    <i class="fas fa-check-circle xyz"></i>
                  </div><br>
                  <div>
                       Approved Request<br>
                      {{requestapproved}}
                  </div>                            
              </div>
            </div>
      </div>
      <div class="col-sm-3">
          <div class="card bg-light">
              <div class="card-body">
                  <div class="blood">
                    <i class="fas fa-times-circle xyz"></i>
                  </div><br>
                  <div>
                       Rejected Request <br>
                      {{requestrejected}}
                  </div>                            
              </div>
            </div>
        </div>

    </div>
</div>
<div>
  <table class="table">
    <thead>
      <tr>
        <th>
          <input type="text" class="search-input" placeholder="Full Name/phone no">
        </th>
        <th>
          <input type="text" class="search-input" placeholder="Blood Group">
        </th>
        <th>
          <input type="text" class="search-input" placeholder="City(address)">
        </th>
        <th>
          <input type="text" class="search-input" placeholder="Last Date of donation">
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Reamonn Corkill/9819</td>
        <td>O+</td>
        <td>Navi Mumbai</td>
        <td>24-02-2023</td>
      </tr>
      <tr>
        <td>Dara Lovell/9819</td>
        <td> B+</td>
        <td>Navi Mumbai</td>
        <td>22-01-2023</td>
      </tr>
      <tr>
        <td>Zorina Hugli/9920</td>
        <td>A+</td>
        <td>Nashik</td>
        <td>22-01-2023</td>
      </tr>
      <tr>
        <td>Jeff Cornier/789</td>
        <td>A-</td>
        <td>Pune</td>
        <td>22-01-2023</td>
      </tr>
      <tr>
        <td>Waldo Pilmoor/4546</td>
        <td> B-</td>
        <td>Mumbai</td>
        <td>22-01-2023</td>
      </tr>
      <tr>
        <td>Major Feldhuhn/8787</td>
        <td>B+</td>
        <td>Chennai</td>
        <td>22-01-2023</td>
      </tr>
      <tr>
        <td>Sue Cardenosa/9090</td>
        <td>AB+</td>
        <td>Banglore</td>
        <td>22-01-2023</td>
      </tr>
      <tr>
        <td>Seward Fursey/787</td>
        <td>AB+</td>
        <td>Hyderabad</td>
        <td>22-01-2023</td>
      </tr>
      <tr>
        <td>Fernanda Well/8787</td>
        <td> B+</td>
        <td>Aurangabad</td>
        <td>22-01-2023</td>
      </tr>
      <tr>
        <td>Deva Griswaite/0898</td>
        <td>B-</td>
        <td>Mumbai</td>
        <td>22-01-2023</td>
      </tr>
      <tr>
        <td>Becka Kohlerman/2526</td>
        <td>O+</td>
        <td>Pune</td>
        <td>22-01-2023</td>
      </tr>
      <tr>
        <td>Dunc Faragher/6767</td>
        <td>A+</td>
        <td>Navi Mumbai</td>
        <td>22-01-2023</td>
      </tr>
     
    </tbody>
  </table>
</div>

<!--
developed By : sumit kumar
facebook : fb.com/sumit.luv
youtube : youtube.com/lazycoders
-->
{% endblock content %}
